<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Jedi with redux</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="app-container">
  		<div class="css-root">
      		<h1 id="location" class="css-planet-monitor">Obi-Wan currently on <span class="planet-name">Tatooine</span></h1>

      		<section class="css-scrollable-list">
      		  <ul id="jedis" class="css-slots">
      		    <li class="css-slot">
      		    </li>
      		    <li class="css-slot">
      		    </li>
      		    <li class="css-slot">
      		    </li>
      		    <li class="css-slot">
      		    </li>
      		    <li class="css-slot">
      		    </li>
      		  </ul>

      		  <div class="css-scroll-buttons">
      		    <button class="css-button-up"></button>
      		    <button class="css-button-down"></button>
      		  </div>
      		</section>
  		</div>
  	</div>
    <script type="text/template" id="jedisListItem">
                 <h3><%= name %></h3>
                 <h6>Homeworld: <%= homeworld.name %></h6>
    </script>

    <script type="text/javascript" src="build/app.js" ></script>
  </body>
</html>
